
@import url('https://fonts.cdnfonts.com/css/lato');

 /* Home */               

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

#header{
    background-color: #d7f2ff;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06)
    
}

#searchbar{
  border: 1px solid #000;
  border-right: none;
  font-size: 16px;
  padding: 10px;
  outline: none;
  width: 250px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  
}

#searchBtn{
  border: 1px solid #000;
  font-size: 16px;
  padding: 10px;
  background: burlywood;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  width: auto;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#searchBtn:hover {
  background: #c8a28a;
}

body{
font-family: arial;
}
h3 {
  margin: 20px 0px 0px 0px;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
a{
  color: #000;
  text-decoration: underline;
}
a:hover {
  color: #000;
  text-decoration: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 30px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color:#af6d41;
    transition:0.3 ease ;
}

#navbar li a:hover,#navbar li a.active{
   color: #000;
}

#navbar li a.active::after,#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 30px;

}

#hero{
    background-image: url(img/Untitled\ design.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    background-color:#c8a28a ;
    display: flex;
    padding: 0 100px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h2{
    padding-bottom: 15 px;
}

#hero p{
    padding-top:  15px;
}

#hero button{
    background-image: url(img/black.png) ;
    color: white;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    padding: 50px 50px 50px 50px;
}

#product1{
    text-align: center;
    
}

#product1 .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    flex-wrap: wrap;
    padding-right: 20px ;
    padding-left: 50px ;


}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #c8a28a;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro img{
  width: 100%;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

#product1 .pro button{
  border: 2px solid black;
  padding: 1em;
  width: 80%;
  cursor: pointer;
  margin-top: 2em;
  font-weight: bold;
  position: relative;
}

#product1 .pro button:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background-color: black;
  transition: all .5s;
  margin: 0;
}

#product1 .pro button::after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: black;
  transition: all .5s;
}
#product1 .pro button:hover::before{
  width: 30%;
}

#product1 .pro button:hover::after{
  width: 30%;
}

#product1 .pro .des{
    padding: 10px 0;
}

#product1 .pro .des i{
    font-size: 20px;
    color: rgb(255, 225, 18);
    padding-top: 4px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#product1 .pro .des h5{
    padding-top: 7px;
    
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#9ab5c2;
    color: #088178;
    border: 1px solid #8aa7c8;
    font-weight: 300px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.bar{
    display: inline-block;
    height: 60px;
    border-radius:10px;
    width: 800px;
    font-size: 20px;
    border-color: #c8a28a;
}

input.bar::placeholder {
    padding-left: 20px;
}


/* shop */

#page-header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #c8a28a;
}

#page-header button {

    background-image: url(img/b-black.png) ;
    color: white;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    padding: 90px 120px 90px 40px;
    font-size: 27px
}

#pagination{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 100px;

}

#pagination a{
    text-decoration: none;
    background-color: #c8a28a;
    padding: 15px 20px;
    border-radius: 4px;
    color: black;
    font-weight: 600;
}


/* single product page*/

#prodetails .single-pro-image{
    width: 30%;
    margin-right: 50px;
    margin-left: 200px;
    margin-top: 70px;
}

.small-image-group{
    display: flex;
    justify-content: space-between;
    
}

.small-image-group{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-detail{
    width: 50%;
    padding-top: 200px;
    
}

#prodetails .single-pro-detail h4{
    
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
    
}

#prodetails .single-pro-detail h6{
    font-size: 40px;
    
 }

#prodetails .single-pro-detail h2{
   font-size: 20px;
}

#prodetails .single-pro-detail input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.normal{
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    background-color: #d7f2ff;
    border-radius: 7px;
    border-color: transparent;
    font-weight: 650;
}

#prodetails .single-pro-detail input:focus{
    outline: none;
}

#prodetails .single-pro-detail span{
    line-height: 25px;

}





/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2021 @codewithsadee 
 */





/*-----------------------------------*\
  #VARIABLE
\*-----------------------------------*/

:root {

    /**
     * Colors
     */
  
    --onyx:         hsl(0, 0%, 25%);
    --azure:        hsl(219, 77%, 60%);
    --white:        hsl(0, 0%, 100%);
    --platinum:     hsl(0, 0%, 91%);
    --gainsboro:    hsl(0, 0%, 90%);
    --red-salsa:    hsl(0, 77%, 60%);
    --dim-gray:     hsl(0, 0%, 39%);
    --davys-gray:   hsl(0, 0%, 30%);
    --spanish-gray: hsl(0, 0%, 62%);
    --quick-silver: hsl(0, 0%, 64%);
  
    /**
     * Typography
     */
  
    --fs-28: 28px;
    --fs-24: 24px;
    --fs-18: 18px;
    --fs-15: 15px;
    --fs-14: 14px;
  
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
  
    /**
     * Others 
     */
  
    --px: 60px;
    --radius: 5px;
  
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html { font-family: 'Source Sans 3', sans-serif; }
  
  a {
    color: inherit;
    text-decoration: none;
  }
  
  button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
  }
  
  ion-icon, span { display: inline-block; }
  
  label, img { display: block; }
  
  input {
    font: inherit;
    width: 100%;
    border: none;
  }
  
  input:focus { outline: 2px solid var(--azure); }
  
  /**
   * Remove number input up & down button
   */
  input::-webkit-inner-spin-button,
  input::-webkit-outer-spin-button {
    appearance:         none;
    -webkit-appearance: none;
    margin: 0;
  }
  
  /**
   * Custom scrollbar style
   */
  ::-webkit-scrollbar { width: 8px; }
  
  ::-webkit-scrollbar-track { background: transparent; }
  
  ::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 70%); }
  
  
  
  
  
  /*-----------------------------------*\
    #MAIN STYLE
  \*-----------------------------------*/
  
  /**
   * main container 
   */
  
  .heading {
    font-size: var(--fs-28);
    font-weight: var(--fw-6);
    background-color:#c8a28a ;
    border-bottom: 1px solid var(--gainsboro);
    padding: 20px var(--px);
    display:     flex;
    align-items: center;
    gap: 20px;
  }
  
  .heading1 { font-size: var(--fs-28);
      font-weight: var(--fw-6);
      background-color: #302f2d;
      border-bottom: 1px solid var(--gainsboro);
      padding: 20px var(--px);
      display:     flex;
      align-items: center;
      gap: 20px}
  
  .item-flex {
    display: flex;
    flex-grow: 1;
  }
  .heading ion-icon { font-size: 40px; }
  
  .item-flex {
    display: flex;
    flex-grow: 1;
  }
  
  /**
   * checkout section style 
   */
  
.text-navy {
    color: #1ab394;
}

.checkout {
    width: 100%;
    border-right: none;
}

.order {
    display: flex;
    justify-content: space-between;
    
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.order-item {
    display: flex;
}

.order-image {
    margin-right: 20px;
}

.order-details {
    flex-grow: 1;
}

.order-quantity {
    width: 100px; /* Adjust as needed */
}

input.form-control {
    width: 100%;
}

.actions {
    display: flex;
    flex-direction: column;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: block;
    color: #c8a28a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  
  /**
   * cart section style
   */
  
  .cart {
    width: 40%;
    display:         flex;
    flex-direction:  column;
    justify-content: flex-end;
  }
  
  .cart-item-box {
    padding: 40px var(--px);
    margin-bottom: auto;
  }
  
  .product-card:not(:last-child) { margin-bottom: 20px; }
  
  .product-card .card {
    position: relative;
    display:     flex;
    align-items: flex-start;
    gap: 20px;
  }
  
  .card .product-img { border-radius: var(--radius); }
  
  .card .detail .product-name {
    font-weight: var(--fw-6);
    font-size: var(--fs-15);
    color: var(--dim-gray);
    margin-bottom: 10px;
  }
  
  .card .detail .wrapper {
    display: flex;
    gap: 20px;
  }
  
  .product-qty {
    display:     flex;
    align-items: center;
    gap: 10px;
  }
  
  .product-qty button {
    background: var(--platinum);
    width:  20px;
    height: 20px;
    display:         flex;
    justify-content: center;
    align-items:     center;
  }
  
  .product-qty button:active,
  .product-close-btn:active ion-icon { transform: scale(0.95); }
  
  .product-qty button ion-icon {
    --ionicon-stroke-width: 60px;
    font-size: 10px;
  }
  
  .product-close-btn {
    position: absolute;
    top:   0;
    right: 0;
  }
  
  .product-close-btn ion-icon {
    font-size: 25px;
    color: var(--quick-silver);
  }
  
  .product-close-btn:hover ion-icon { color: var(--red-salsa); }
  
  .discount-token {
    padding: 40px var(--px);
    border-top:    1px solid var(--gainsboro);
    border-bottom: 1px solid var(--gainsboro);
  }
  
  .wrapper-flex {
    display:     flex;
    align-items: center;
    gap: 30px;
  }
  
  .wrapper-flex input {
    padding: 12px 15px;
    font-weight: var(--fw-6);
    letter-spacing: 2px;
  }
  
  .btn-outline {
    padding: 10px 25px;
    border: 1px solid var(--azure);
    color: var(--azure);
  }
  
  .btn-outline:hover {
    background: var(--azure);
    color: var(--white);
  }
  
  .amount { padding: 40px var(--px); }
  
  .amount > div {
    display:         flex;
    justify-content: space-between;
  }
  
  .amount > div:not(:last-child) { margin-bottom: 10px; }
  
  .amount .total {
    font-size: var(--fs-18);
    font-weight: var(--fw-7);
    color: var(--onyx);
  }
  
  
  
  
  
  /*-----------------------------------*\
    #RESPONSIVE
  \*-----------------------------------*/
  
  @media (max-width: 1200px) {
  
    .item-flex { flex-direction: column-reverse; }
  
    /**
     * checkout section responsive 
     */
  
    .checkout {
      width: 100%;
      border-right: none;
    }
  
    .btn-primary { width: 100%; }
  
    /**
     * cart section responsive
     */
  
    .cart {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      border-bottom: 1px solid var(--gainsboro);
    }
  
    .cart .wrapper { margin-top: auto; }
  
    .cart .cart-item-box {
      border-right: 1px solid var(--gainsboro);
      margin-bottom: 0;
    }
  
    .discount-token { border-top: none; }
  
  }
  
  
  
  
  
  @media (max-width: 768px) {
  
    :root { --px: 40px; }
  
    .cart { grid-template-columns: 1fr; }
  
    .discount-token { border-top: 1px solid var(--gainsboro); }
  
    .wrapper-flex { gap: 20px; }
  
  }
  
  
  
  
  
  @media (max-width: 567px) {
  
    :root { --px: 20px; }
  
    .payment-method,
    .input-flex {
      flex-direction: column;
      gap: 20px;
    }
  
    .payment-method .method { width: 100%; }
  
    .input-flex .expire-date,
    .input-flex .cvv { width: 100%; }
  
    .expire-date .input-flex { flex-direction: row; }
  
  }

  body{margin-top:20px;
    background:#eee;
}
h3 {
    font-size: 16px;
}
.text-navy {
    color: #1ab394;
}
.cart-product-imitation {
  text-align: center;
  padding-top: 30px;
  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  padding: 20px;
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 15px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}


/*Admin (add product)*/

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
  font-size: 62.5%;
}

body{
  background-color: #fff;
}

#upload_container{
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  width: 50%;
}


#upload_container form{
  display: flex;
  flex-direction: column;
}

#upload_container form input, form select{
  padding: 8px;
  outline: none;
  border: 1px solid lightblue;
  margin-bottom: 8px;
}

#upload_container form input#description {
  padding: 8px;
  outline: none;
  border: 1px solid lightblue;
  margin-bottom: 8px;
  height: 100px; 
  width: 98%; 
}

#upload_container form button{
  padding: 8px;
  outline: none;
  background-color: lightblue;
  border: none;
  margin-bottom: 8px;
  cursor: pointer;
}

#upload_container form input[type="submit"]{
  background-color: lightgray;
  border: none;
  margin-bottom: 50px;
}

#upload_container form input[type="submit"]:hover{
  background-color: white;
  cursor: pointer;
  border: 1px solid lightblue;

}

#upload_container  button{
  padding: 8px;
  outline: none;
  background-color: lightblue;
  border: none;
  margin-bottom: 8px;
  cursor: pointer;
}


/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

/* Style for table header */
thead {
  background-color: #f2f2f2;
}

th, td {
  padding: 15px; /* increased padding for better spacing */
  text-align: left;
  font-size: 16px; /* increased font size */
}

/* Alternate row colors for better readability */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect for table rows */
tbody tr:hover {
  background-color: #ddd;
}

/* Style for the table header cells */
th {
  background-color: #c8a28a;
  color: white;
}

/* Style for the "Your Orders" heading */
#orders h2 {
  text-align: center;
  margin-top: 20px;
}



#navbar li {
  float: left;
}

#navbar li a {
  display: block;
  color: #c8a28a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




/*database-1.cn0meig60jdd.me-central-1.rds.amazonaws.com*/
/*3DNFCBLhrdREVn4VIx4V*/