
@import url('https://fonts.cdnfonts.com/css/lato');

 /* Home */               

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

#header{
    background-color: #d7f2ff;
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06)
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0px 30px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 26px;
    font-weight: 600;
    color:#af6d41;
    transition:0.3 ease ;
}

#navbar li a:hover,#navbar li a.active{
   color: #000;
}

#navbar li a.active::after,#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: #000;
    position: absolute;
    bottom: -4px;
    left: 30px;

}

#hero{
    background-image: url(img/Untitled\ design.png);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    background-color:#c8a28a ;
    display: flex;
    padding: 0 100px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h2{
    padding-bottom: 15 px;
}

#hero p{
    padding-top:  15px;
}

#hero button{
    background-image: url(img/black.png) ;
    color: white;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    padding: 50px 50px 50px 50px;
}

#product1{
    text-align: center;
    
}

#product1 .container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px ;
    flex-wrap: wrap;
    padding-right: 20px ;
    padding-left: 50px ;


}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #c8a28a;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;

}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.6);
}

#product1 .pro .des{
    padding: 10px 0;
}

#product1 .pro .des i{
    font-size: 20px;
    color: rgb(255, 225, 18);
    padding-top: 4px;
}

#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

#product1 .pro .des h5{
    padding-top: 7px;
    
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color:#9ab5c2;
    color: #088178;
    border: 1px solid #8aa7c8;
    font-weight: 300px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.bar{
    display: inline-block;
    height: 60px;
    border-radius:10px;
    width: 800px;
    font-size: 20px;
    border-color: #c8a28a;
}

input.bar::placeholder {
    padding-left: 20px;
}


/* shop */

#page-header{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #c8a28a;
}

#page-header button {

    background-image: url(img/b-black.png) ;
    color: white;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    padding: 90px 120px 90px 40px;
    font-size: 27px
}

#pagination{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 100px;

}

#pagination a{
    text-decoration: none;
    background-color: #c8a28a;
    padding: 15px 20px;
    border-radius: 4px;
    color: black;
    font-weight: 600;
}


/* single product page*/

#prodetails .single-pro-image{
    width: 30%;
    margin-right: 50px;
    margin-left: 200px;
    margin-top: 70px;
}

.small-image-group{
    display: flex;
    justify-content: space-between;
    
}

.small-image-group{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-detail{
    width: 50%;
    padding-top: 200px;
    
}

#prodetails .single-pro-detail h4{
    
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
    
}

#prodetails .single-pro-detail h6{
    font-size: 40px;
    
 }

#prodetails .single-pro-detail h2{
   font-size: 20px;
}

#prodetails .single-pro-detail input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.normal{
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    background-color: #d7f2ff;
    border-radius: 7px;
    border-color: transparent;
    font-weight: 650;
}

#prodetails .single-pro-detail input:focus{
    outline: none;
}

#prodetails .single-pro-detail span{
    line-height: 25px;

}